{{ template "layout" . }}{{ define "main" }}

<div class="row">
    <!-- Looping -->
    {{ range . }}
    <div class="col">
        <div class="card mb-3" style="width: 18rem;">
            <img src="https://source.unsplash.com/random/100x100" class="card-img-top" alt="...">
            <div class="card-body">
                <!-- <h5 class="card-title">{{ .ID }}</h5> -->
                <h5 class="card-title">{{ .Name }}</h5>
                <h5 class="card-title">{{ .Price }}</h5>
                <h5 class="card-title">{{ .Stock }}</h5>
                <h5 class="card-title badge bg-{{ .AlertStatus }}">{{ .StockStatus }}</h5>
            </div>
        </div>
    </div>
    {{ end }}
</div> {{ end }}